.auth-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

mat-card {
  width: 400px;
}

.error-message {
  color: red;
  margin: 10px 0;
}

.auth-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .auth-links a {
    margin-left: 5px;
  }
